[include]
	path = /Users/pf1gura/.dotfiles/git/catppuccin.gitconfig

[user]
    nam = Przemyslaw Figura
    email = github.enlarging980@passinbox.com

[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    features = catppuccin-macchiato

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
